.notFound {
    text-align: center;
    margin: 0.5rem;
    padding: 2rem;
}

.notfoundImg {
    background-image: url(../../../assets/notFound.jpg);
    width: 400px;
    height: 400px;
    margin: auto;
}