@import url('../../../fonts.css');

nav{
    display: flex;
    justify-content: space-around;
    background-color: var(--color-dark-blue);
}
a {
    text-decoration: none;
    color: var(--color-yellow);
    padding: 1rem;
    display: inline-block;
}

a:hover {
    background-color: var(--color-light-pink);
    color: var(--color-gold);
}