@import url('./fonts.css');

:root {
    --color-dark-blue: hsl(225, 35%, 7%);
    --color-yellow: linear-gradient(315deg, hsla(43, 100%, 58%, 1) 0%, hsla(36, 100%, 35%, 1) 100%);
}

*, 
*::before, 
*::after {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Headland One';
}